@import "tailwindcss";

/* in 4.0, this is also the file you config tailwind in -- NOT a js file */

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@theme {
    --font-bricolage: "Bricolage+Grotesque", "sans-serif";
}

/* tailwind does not apply any aesthetic difference to h1, h2, h3 */
h1 {
    @apply text-4xl font-bold;
}

h3 {
    @apply text-xl font-semibold;
}
